{% extends 'client/main.html' %}
{% load static %}
{% block content %}
<!-- Wrapper -->
<div id="wrapper">

<div class="clearfix"></div>
<!-- Header Container / End -->

<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient" style="margin-top: -80px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">


				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Forgot Password</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">


			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Hello, reset your passsword!</h3>
					<span>Instructions will be sent to your email</span>
				</div>

				<!-- Form -->
				<form method="post" action="" id="login-form">
					{% csrf_token%}
					{{form}}


				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit">Send Instructions <i class="icon-material-outline-arrow-right-alt"></i></button>
          </form>
				<!-- Social Login -->

			</div>

		</div>
	</div>
</div>


<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->

</div>
<!-- Wrapper / End -->
{% endblock content %}